
/* home page CSS */

.imageLogo > a > img {width: 80%; height: 350px; border:1px solid rgb(229, 228, 228);
        box-shadow: 2px 2px 10px lightgreen;  border-radius: 40px;}

.imageLogo > a > img:hover{opacity: 0.5 ;}

.socialMeidaLogo{width:40px; height:40px; padding:5px;}


/* .imageLogo {border:1px solid blue;} */


/* index page CSS */

.topBar{ height:20px; background: green;}

.topHeading > div > #JavaLogo{width:50px;height:50px;margin:5px 0;}

#advPy{width:80px;height:50px; margin:5px 0;}

.menuBarArea{ padding:5px 5px; background: #8A8AFF;}

.roadmapImg > div > img{width:100%; height:250px;}

#allTopics > div {padding:5px 30px;}

#allTopics > div > div > a { background: rgb(245, 246, 245); color:black; border-radius: 10px;
} 

#allTopics > div > div > a:hover {background: rgb(13, 150, 13); color:rgb(246, 248, 246);}

#homeLink > a{color:red;}

#homeLink > a:hover{color:green;}

/* .menuBarArea > div > a {  width: 100%; } */

.menuBarArea {  padding:0;margin:0;}

.menuBarArea > div {height: 100%; padding:10px;}

.menuBarArea > div:hover { 
         background: rgb(114, 232, 114) !important; }

.menuBarArea > div > a{ text-decoration: none; color:black; 
        padding:15px;font-size: 18px; }

.menuBarArea > div > a:hover{color:white !important;}

/* topics */

 .topicTitles > div > div { padding:5px;}

.topicTitles > div > div > a { color:black;  font-size: 16px;  }

.topHeadingTitle {padding-top:15px;     }

.topHeadingTitle > span{ font-size: 24px; }

.courseContainer{ margin-bottom: 10px; }

/* .insideContainer{ background: rgb(239, 243, 239);} */

.FooterArea{ padding:40px 0;}

.FooterArea > div > a{text-decoration: none; font-size: 18px;}

.advJavaList > li {list-style-type: none; padding-left: 20px;}

.advJavaList > li > a { text-decoration: none; list-style-type: none; color:black;}

table > tbody > tr > td {cursor: pointer;}



 /*   ++++++++++++++++++++++ for mobile devices  +++++++++++++++++++++++++++   */

@media only screen and (max-width: 600px) {
  
        .topBar{ height:20px; background: green;}

        .topHeadingTitle{text-align: center; padding:0;}

/* .courseContainer{border:1px solid red;} */

        .FooterArea > div  { padding:10px 0 0 10px;}

        .insideContainer{ background: rgb(250, 249, 250); padding:0 50px;}

        .borders{ border-top-right-radius: 20px; border-top-left-radius: 20px; }

        .menuBarArea{ padding:0;}

        .borders1{  border-bottom-right-radius: 0px; border:2px solid rgb(15, 180, 95);border-top: none;}

        .menuBarArea > div { text-align: center; width: 100%; 
                margin-bottom: 2px; padding:10px;}

         .menuBarArea > div > a {  width: 100%; padding:0; margin:0;}

          .menuBarArea > div:hover{ background: white;}

          .FooterArea{ padding:10px 0;}
}

